.works{
    display: flex;
    height:90vh;
    margin-top:1rem;
}
.background_blurr, .background_blurrr{
    position: absolute;
    width: 22rem;
    height: 15rem;
    border-radius: 50%;
    background-color:#edd0ff;
    z-index: -9;
    top: 55rem;
    left: -7rem;
    filter: blur(72px);  
}
.background_blurrr{
    margin-top:60rem;
    margin-left: 6rem;
}
.works-right{
    position:relative;
}
.works-mainCircle{
    left:9rem;
    position: relative;
    width:18rem;
    height:18rem;
    border-radius: 100% ;
    box-shadow: var(--smboxshadow);
    top:2rem;
}
.works-mainCircle:nth-child(1){
    top:1.5rem;
    left:15rem;
    box-shadow:0px 50px 50px 0px rgba(154, 149, 145, 0.45);
    background-color: white;
}
#upwork-circle{
    margin-top:-3rem;
    margin-left:6rem;
}
.works-mainCircle>:nth-child(2){
    margin-top:3rem;
    margin-left:-3rem;
}
.works-mainCircle>:nth-child(3){
    margin-left:6rem;
    margin-top:5rem;
}
.works-mainCircle>:nth-child(4){
    margin-left:15rem;
    margin-top:5rem;
}
.works-mainCircle>:nth-child(5){
    margin-left:6rem;
    margin-top:13rem;
}
.works-semCircle:nth-child(2){
    margin-left:-3rem;
    margin-top:5rem;
}
.works-semCircle{
   width:6rem;
   height:6rem;
   position: absolute;
   border-radius: 100%;
   background:white;
   border:5px solid #ebebeb;
   display: flex;
   align-items: center;
   justify-content: center;
}
.works-backCircle{
    position: absolute;
    height:13rem;
    width:13rem;
    border-radius:100%;
    z-index:-1;
}
.blueCircle{
    background: #1949B8;
    left:24rem;
    top:-0.5rem;
}
.yellowCircle{
    background: #F5C32C;
    left:24rem;
    top:9.5rem;
}

.loading {
    position: relative;
    width: 212px;
    height: 100px;
    margin-top:5rem;
    margin-left:13rem;
    transform: scale(2);
    box-sizing: content-box;
  }

  .loading:before,
  .loading:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid orange;
    box-shadow:0px 14px 14px 0px rgba(252, 166, 40, 0.45);
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
  }
  .loading:after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
    
  }
 .good{
    position: absolute;
    margin-top:1.8rem;
    margin-left: 1.2rem;
    font-size: small;
 }
 .are{
    position: absolute;
    margin-top: 1.2rem;
    font-size: small;
    margin-left: 1.2rem;
 }
 
 .loadingg{
    position: absolute;
    margin-top:1.6rem;
    margin-left: 7rem;
    font-size: small;
 }
 .loaderr {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left:6.8rem;
    margin-top:-0.3rem;
    display: inline-block;
    position: absolute;
    background: linear-gradient(0deg, black, 33%, #b0c1e8 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loaderr::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: white;
    
  }
 

  @keyframes rotation {
    0% { transform: rotate(0deg) scale(0.6) }
    100% { transform: rotate(360deg) scale(0.6)}
  } 


  @media only screen and (max-width: 600px)
  {
        .works{
            margin-top:30rem;
            margin-left:1rem;
        }
        .works>:nth-child(1){
            margin-top:-8rem;
        }
        .works-right{
            margin-left: -36rem;
            margin-top: 8rem;
        }
        .loading{
            display: none;
        }
       
        
  }