
:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;

    color: var(--black); 
      
}

#dark{
  /* background-color: #46045e; */
 background-color: black;
  font-style: white;
}

.button{
  border-radius: 35px;
  border:none;
  font-size: 15px;
  color:white;
  padding:5px;
  width: 100px;
  height:35px;
  background:linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow:0px 8px 14px 3px rgba(252, 166, 40, 0.45);
}

.button:hover{
  cursor:pointer;
  background:white;
  color:var(--orange);
  border:1px solid orange;

}

@media only screen and (max-width: 600px) {
  
  .nav-wrapper{
    margin-left:-3em;
  }
}

.App>:nth-child(2){
  width: 2.8rem;
  height:1.5rem;
  display: flex;
  margin-top: -2.5rem;
  margin-left:5rem;
  justify-content:space-between;
  border: 3px solid var(--orange);
  border-radius: 1rem;
  position: absolute;
  cursor: pointer;
}



html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }
  .App>:nth-child(2){
    margin-top:-0.8rem;
    margin-left:4rem;
  }

}

/* @media (max-width:600px){
  body{
    background-color: aquamarine;
  }
} */

    /* color: var(--black);     */






html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }
  .App>:nth-child(2){
    margin-top:-0.8rem;
    margin-left:4rem;
  }

}

/* @media (max-width:600px){
  body{
    background-color: aquamarine;
  }
} */

